[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Dd]ocs/
[Uu]nityVS/
[Uu]nityVS.meta
/[Rr]esources/
AssetBundles/

*.log


*Doxyfile
*.csproj
*.csproj.DotSettings
*.ruleset
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.mdw
.DS_Store
.idea
.vs
.gradle
